/* Version: 201702121800 */

/* include font */
@font-face {
  font-family: 'Tharlon';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot);
  src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.ttf) format('truetype');
}

body {
  background-color: #111111;
}

/*
.DivMain {
    margin-left: auto;
    margin-right: auto;
}
*/

/* Div container for month*/
.DivContainerMonth {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    font-family: Tharlon,"Myanmar Text","Myanmar MN","Droid Sans",Padauk,Myanmar3,Arial, Helvetica, sans-serif;
}

/* Div container for month*/
.DivContainerDay {
    width: 350px;
    font-family: Tharlon,"Myanmar Text","Myanmar MN","Droid Sans",Padauk,Myanmar3,Arial, Helvetica, sans-serif;
    color: #999999;
    background-color: #222222;
		padding: 20px;
    margin-left: auto;
    margin-right: auto;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    font-size: 16px;
    text-align: left;
}

/* Table container for controls*/
.TableContainerCtrl {
    border: 0px solid #333333;
    margin: 2px;
    padding: 0px;
    border-spacing:0px;
    border-collapse:collapse;
}

/* Table cell container for decrease month control*/
.TdContainerBtnDec {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 24px;
}

/* Button control decrease month */
.BtnDec {
    color: #999999;
    padding: 3px;
    margin: 0px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 22px;
    height: 32px;
}

/* Table cell container for year control*/
.TdContainerYear {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 78px;
}

/* Input year control*/
.InpYear {
    color: #999999;
    padding: 3px;
    margin: 0px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 68px;
    height: 24px;
}

/* Table cell container for month control*/
.TdContainerMonth {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 104px;
}

/* Select month control*/
.InpMonth {
    color: #999999;
    padding: 3px;
    margin: 0px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 102px;
    height: 32px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

/* Table cell container for increase month control*/
.TdContainerBtnInc {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 24px;
}

/* Button control increase month */
.BtnInc {
    color: #999999;
    padding: 3px;
    margin: 0px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 22px;
    height: 32px;
}

/* Table cell container for empty space*/
.TdContainerSpace {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 406px;
}

/* Table cell container for calendar type control*/
.TdContainerType {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 102px;
}

/* Select calendar type control*/
.InpType {
    color: #999999;
    padding: 3px;
    margin: 0px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 32px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

/* Table cell container for language control*/
.TdContainerLanguage {
    text-align: left;
    vertical-align: top;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    width: 102px;
}

/* Select language control*/
.InpLanguage {
    color: #999999;
    padding: 3px;
    margin: 0px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 32px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

/* Table for Myanmar Calendar*/
.TableMC {
  border: 1px solid #333333; margin: 0px;
  padding: 0px;
	border-spacing:0px;
  border-collapse:collapse;
}

/* Table header row for Myanmar Calendar*/
.ThMC {
  vertical-align: top;
  padding: 0px;
	border: 0px solid #333333;
  background-color: #444444;
}

/* Paragraph for table header row for Myanmar Calendar*/
.PThMC {
  text-align: left;
  color: #CCCCCC;
  padding:10px;
  margin: 0px;
  font-size: 16px;
}

/* Table footer row for Myanmar Calendar*/
.TdFootMC {
  text-align: left;
  vertical-align: top;
  padding-top: 0px;
  padding-bottom: 0 px;
  padding-left:8px;
  padding-right: 8px;
	line-height: 100%;
  border: 1px solid #333333;
  font-size: 14px;
  background-color: #444444;
}

/* Paragraph for table cell for weekdays*/
.PTdWeekdayMC {
  color: #cca6f2;
  padding: 5px;
  margin: 0px;
}

/* Paragraph for table cell for weekend*/
.PTdWeekendMC {
  color: #ff8080;
  padding: 5px;
  margin: 0px;
}

/* Paragraph for table cell for Myanmar Calendar*/
.PTdMC {
  color: #999999;
  font-size: 14px;
}

/* Anchor for table foot for Myanmar Calendar*/
.AnchorFootMC {
  text-decoration: none;
  color: #cca6f2;
}

/* Anchor for Myanmar Calendar*/
.AnchorMC {
  text-decoration: none;
  color: #cca6f2;
}

/* Table cell for Myanmar Calendar*/
.TdMC {
  text-align: left;
  vertical-align: top;
  padding: 8px;
	line-height: 100%;
  border: 1px solid #333333;
	font-size: 14px;
  width: 120px;
  background-color: #222222;
}

/* Primary day*/
.PriDay {
  color: #CCCCCC;
  font-size: 18px;
}

/* Primary day as today*/
.PriDayToday {
  color: #cca6f2;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #ff8080;
  border: 1px solid #333333;
  padding-top: -8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -8px;
  background-color: #662222;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Primary day as holiday*/
.PriDayHoliday {
  color: #ff8080;
  font-size: 18px;
}

/* Primary day as weekend*/
.PriDayWeekend {
  color: #ff8080;
  font-size: 18px;
}

/* Primary day as inaccuate*/
.PriDayInaccu {
  color: #cca6f2;
  font-size: 18px;
}

/* Sabbath day*/
.MCSabbath {
  color: #7ece7e;
  font-size: 12px;
}

/* Secondary day*/
.SecDay {
  color: #999999;
  font-size: 14px;
}

/* Secondary day holiday*/
.SecDayH {
  color: #ff8080;
  font-size: 14px;
}

/* Public Holiday description*/
.MCPubHol {
  color: #ff8080;
  font-size: 12px;
}

/* Holiday description*/
.MCHol {
  color: #cca6f2;
  font-size: 12px;
}

/* Yatyaza and Pyathada*/
.MCYatyaza {
  color: #7ece7e;
  font-size: 12px;
}

/* Astrological day description*/
.MCAstro {
  color: #555555;
  font-size: 12px;
}

/*Full moon picture*/
.FM {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	width: 10px;
  height: 10px;
  background: #ffffcc;
  border: solid #CCCCCC 1px;
}

/*New moon picture*/
.NM {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	width: 10px;
  height: 10px;
  background: #666666;
  border: solid #CCCCCC 1px;
}

/* Button back to main */
.BtnBack {
    color: #999999;
    padding: 3px;
    margin: auto;
    text-align: center;
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 32px;
    display: block;
}

/*font size for day display*/
.DayFontSize {
  font-size: 16px;
}

/* Historical day*/
.HLabel {
  color: #7ece7e;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #ff8080;
  border: 1px solid #333333;
  padding-top: -8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -8px;
  background-color: #662222;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*Header for day display*/
.DayHead {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
	line-height: 150%;
  border: 1px solid #333333;
  font-size: 18px;
  background-color: #444444;
  font-family: Arial, Helvetica, sans-serif;
   color: #7ece7e;
}

.DayFoot {
  font-size: 12px;
}